@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

.personal {  
    background: rgb(223, 217, 207);
    padding: 5px;
    border-radius: 15px;
    line-height: 3;
}

.work {
    background: rgb(223, 217, 207);
    padding: 5px;
    line-height: 3;
    border-radius: 15px;
}

.school {
    background: rgb(223, 217, 207);
    padding: 5px;
    border-radius: 15px;
    line-height: 3;
}

.list_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} 

.list-item {
    margin: 0 auto;
    font-size:16px;
    padding: 2px;
    text-align: left;
} 

.editText {
    line-height: 3em;
    font-size: 16px;
}

.submitbtn {
    line-height: .5em;
    color:black;
    background-color: #66b66a;
    border-radius: 4px;
}

.taskForm{
    justify-content: center;
    width: 40rem;
    color: #0b0c0b;
    margin: 0 auto;
}

.form-control {
    width:45rem;
    color: black;
    font-size: large;
}

.select-container {
font-size:large;
}

.form-group{
    color:black;
    width: 100%;
    font-size: large;
}

.categorylabel {
    border-radius: 4px;
    display: inline;
    color: rgba(255, 255, 255, 0.897);
    font-size: 0.70rem;
    line-height: 2.5;
    font-weight: bold;
    padding: 6px 5px;
    white-space: nowrap;
    }

    .label-urgent {
        text-align: right;
    }

    .categorylabel-red {
        background-color: rgb(235, 51, 51);
        border-radius: 4px;
        line-height: 2.5;
        font-weight: bold;
        padding: 6px 5px;
        white-space: nowrap;
    }

    .categorylabel-blue {
        background-color: rgb(31, 146, 212);
        border-radius: 4px;
        line-height: 2.5;
        font-weight: bold;
        padding: 6px 5px;
        white-space: nowrap;
    }

    .categorylabel-green {
        background-color: rgb(68, 202, 41);
        border-radius: 4px;
        line-height: 2.5;
        font-weight: bold;
        padding: 6px 5px;
        white-space: nowrap;
    }

    .checkbox {
        width: 20px;
        height: 18px;
        margin: 4px;
        position:inherit;
        border-radius: 1px;
    }
    

    .btn-primary {
        background-color: #66b66a;
        border-radius: 4px;
    }

    .icons-right {
        text-align: left;
    }

    .task {
        font-size: 18px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 43rem;
    
    }

    .tasktext {
        padding: 0px 7px;
    }