.personal { 
    background: rgb(121, 165, 153); 
    padding: 5px;
    border-radius: 10px;
    line-height: 2;
}

.work {
    background: rgb(184, 200, 226);
    padding: 5px;
    line-height: 2;
    border-radius: 15px;
}

.school {
    background: rgb(230, 224, 179);
    padding: 5px;
    border-radius: 15px;
    line-height: 2;
}

.list-container {
    padding-top: 30em;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* .list_wrapper {
    height: 400px;
    background-color: rgb(246, 251, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.list-item {
    width:50em;
    margin: 0 auto;
    font-size:16px;
    padding: 3px;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.taskForm{
    justify-content: center;
    width: 40rem;
    margin: 0 auto;
}

.label {
    border-radius: 4px;
    display: inline;
    background-color: #aa8e8e;
    color: rgba(255, 255, 255, 0.897);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
    font-weight: bold;
    padding: 3px 7px;
    text-align: end;
    white-space: nowrap;
    }

    .checkbox {
        width: 15px;
        height: 14px;
        position:inherit;
        border-radius: 1px;
    }

    

    .btn-primary {
        color: blue;
    }