/* Import the google web fonts you want to use */
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

/*Typography
--------------------------------------------------------------*/

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 150vh;
    width: 100%;
    background: linear-gradient(goldenrod, rgb(153, 223, 153)) no-repeat;
}
button {
    padding: 10px;
}
input,
select,
textarea {
color: #0a0a0a;
line-height: 1;
}

header {
    font-size: 50px;
    letter-spacing: 4px;
}

h1, h2, h3, h4, h5, h6 {
letter-spacing: 6px;
font-size: 22px;
}

#root  {
    width: 100%;
}