/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*Typography
--------------------------------------------------------------*/

body {
    display:flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(goldenrod, rgb(89, 168, 89)) no-repeat;
}
button,
input,
select,
textarea {
color: #0a0a0a;
font-family: 'Inter', sans-serif;
font-size: 14px;
line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Inter", serif;
letter-spacing: 6px;
}

p {
    margin-bottom: 2em;
}