/* Import the google web fonts you want to use */
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

/*Typography
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 150vh;
    width: 100%;
    background: rgb(169, 214, 169);
}
button {
    padding: 10px;
    cursor: pointer;
}
input {
    padding: 0%;
    font-size: 14px;
}

select,
textarea {
color: #0a0a0a;
line-height: .5;
}

header {
    font-size: 50px;
    letter-spacing: 4px;
    min-height: 20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
letter-spacing: 3px;
font-size: 20px;
}

#root  {
    width: 50%;
}