
.navbar {
display:flex;
flex-direction: row;
justify-content: space-around;
align-items:center;
flex-wrap:nowrap;
font-size: 1.1rem;
height: 60px;
position: relative;
}

.navbar__item {
    display: flex;
list-style-type: none;
}

.navbar__link {
    display: flex;
    align-items: center;
    font-size: large;
    color:black;
    text-decoration: none;
}
